# Assignment 6 - Team 01
## - Merwin Roy

### Question 1 (20 points) Here are the latest skater standings (Links to an external site.) for women, men, pairs, and dance pairs.

__Given these standings, what is the Probability Distribution detailing the chances of each one of the following countries: Russia, US, China, Japan, Canada, and Italy to win the Olympics men's event? The women's event?__

To do that, you are going to find the two top skaters for the countries above to represent their country's chance at winning the gold. You are going to create a probability distribution for each one of these skaters for the women, and another distribution for the men.

Note that Shan Ashley Lin is the other skater for China (together with Zhu Yi), but it may be hard to find her on the standings. You will find her if you click on CN next to Zhu Yi's listing. Also note that the top skaters from the Web site above may not really match with the real skaters competing, but that's ok.

__What is the probability for the US to win both the men's and the women's event?__

__What is the probability for the US to win at least one of these two events?__

In [1]:
import os
os.getcwd()
os.chdir("/Users/merwinroy/Desktop/Academics/Sem 2/Data Science Engineering Methods and Tools/Assignments/Assignment6_MerwinRoy_Team01")

In [2]:
class ProbDist(dict): #creating a dictionary in a class
    """A Probability Distribution; an {outcome: probability} mapping."""
    def __init__(self, mapping=(), **kwargs): # defining a constructor--class inherits the dictionary
        self.update(mapping, **kwargs)
        # Make probabilities sum to 1.0; assert no negative probabilities
        total = sum(self.values()) # Take total of all values in the dictionary 
        for outcome in self:
            self[outcome] = self[outcome] / total # for every possible outcome in the dictionary divide the value by the total
            assert self[outcome] >= 0

In [3]:
def P(event, space): 
    if is_predicate(event): #transformation
        event = such_that(event, space)  #collection    
    if isinstance(space, ProbDist):
        return sum(space[o] for o in space if o in event) 
    else:
        return Fraction(len(event & space), len(space))

is_predicate = callable

def such_that(predicate, space): 
    if isinstance(space, ProbDist):
        return ProbDist({o:space[o] for o in space if predicate(o)}) 
    else:
        return {o for o in space if predicate(o)}

Using panda's library to read,import and saving html page highlighting results of men's skating event into 'Men_Skating.csv' file

In [4]:
import requests
import pandas as pd
pd.read_html(requests.get("https://skatingscores.com/men/").content)[-1].to_csv("Men_Skating.csv")

Updating the csv file of men's skating result after cleaning the data
and printing first 5 results using .head() function

In [5]:
df_men = pd.read_csv("Men_Skating1.csv", index_col=None)
df_men_update = df_men.iloc[:,1:]
df_men_update.head(5)

,Nat,Skater,JGP,CS,GP,Ch,WD,MeanEventTotal,nmean,MeanEventBV,...,MeanSS,nSS,MeanTR,nTR,MeanPE,nPE,MeanCO,nCO,MeanIN,nIN
0,ðŸ‡ºðŸ‡¸,Nathan Chen,0,0,2,0,0,288.28,2,132.86,...,9.23,4,8.87,4,9.08,4,9.19,4,9.12,4
1,ðŸ‡¯ðŸ‡µ,Yuma Kagiyama,0,0,2,0,0,282.22,2,125.28,...,9.04,4,8.66,4,8.81,4,8.97,4,8.88,4
2,ðŸ‡¯ðŸ‡µ,Shoma Uno,0,0,2,0,0,280.42,2,125.03,...,9.16,4,8.78,4,9.07,4,9.05,4,9.00,4
3,ðŸ‡ºðŸ‡¸,Vincent Zhou,0,1,2,0,0,280.16,3,135.84,...,8.62,6,8.50,6,8.71,6,8.71,6,8.74,6
4,ðŸ‡·ðŸ‡º,Mikhail Kolyada,0,1,2,0,0,265.06,3,123.43,...,8.86,6,8.63,6,8.66,6,8.92,6,8.77,6

Using panda's library to read,import and saving html page highlighting results of women's skating event into 'Women_Skating.csv' file

In [6]:
pd.read_html(requests.get("https://skatingscores.com/women/").content)[-1].to_csv("Women_Skating.csv")

Updating the csv file of women's skating result after cleaning the data
and printing first 5 results using .head() function

In [7]:
df_women = pd.read_csv("Women_Skating1.csv", index_col=None)
df_women_update = df_women.iloc[:,1:]
df_women_update.head(5)

,Nat,Skater,JGP,CS,GP,Ch,WD,MeanEventTotal,nmean,MeanEventBV,...,MeanSS,nSS,MeanTR,NTR,MeanPE,nPE,MeanCO,nCO,MeanIN,nIN
0,ðŸ‡·ðŸ‡º,Kamila Valieva,0,1,2,1,0,261.52,4,119.54,...,9.28,8,9.09,8,9.32,8,9.34,8,9.36,8
1,ðŸ‡·ðŸ‡º,Anna Shcherbakova,0,0,2,1,0,234.63,3,102.99,...,8.98,6,8.89,6,9.06,6,9.13,6,9.14,6
2,ðŸ‡·ðŸ‡º,Alexandra Trusova,0,0,1,1,0,233.36,2,113.15,...,8.80,4,8.51,4,8.75,4,8.78,4,8.73,4
3,ðŸ‡·ðŸ‡º,Elizaveta Tuktamysheva,0,1,2,0,0,231.80,3,104.62,...,8.76,6,8.54,6,9.13,6,9.00,6,9.19,6
4,ðŸ‡·ðŸ‡º,Sofia Akateva,2,0,0,0,0,229.36,2,117.30,...,7.80,4,7.51,4,7.88,4,7.73,4,7.80,4

Fetching the top two ranked US men's skaters and storing it into a dataframe 'US_Men_df'

In [8]:
men_df = df_men_update[df_men_update.apply(lambda x: x["Nat"] == 'ðŸ‡ºðŸ‡¸',axis=1)]
US_Men = men_df.nlargest(2,'MeanEventTotal')
US_Men_df = pd.DataFrame(US_Men)
US_Men_df

,Nat,Skater,JGP,CS,GP,Ch,WD,MeanEventTotal,nmean,MeanEventBV,...,MeanSS,nSS,MeanTR,nTR,MeanPE,nPE,MeanCO,nCO,MeanIN,nIN
0,ðŸ‡ºðŸ‡¸,Nathan Chen,0,0,2,0,0,288.28,2,132.86,...,9.23,4,8.87,4,9.08,4,9.19,4,9.12,4
3,ðŸ‡ºðŸ‡¸,Vincent Zhou,0,1,2,0,0,280.16,3,135.84,...,8.62,6,8.50,6,8.71,6,8.71,6,8.74,6

Setting the index value of dataframe 'US_Men_df', then fetching the 'MeanEventTotal' score and storing it in 'US_Men_final'

In [9]:
US_Men_df.set_index('Skater',inplace=True)
US_Men_final = US_Men_df['MeanEventTotal']
US_Men_final

Skater
Nathan Chen     288.28
Vincent Zhou    280.16
Name: MeanEventTotal, dtype: float64

Calculating probability distribution for the the two US Men skaters and storing the values in 'US_Men_Dist' variable

In [10]:
US_Men_Dist = ProbDist(NC = US_Men_final[0], VZ = US_Men_final[1])
US_Men_Dist

{'NC': 0.5071423545141087, 'VZ': 0.4928576454858912}

Final scores of the top two US skaters from the event are added and stored in 'US_MEN_TOTAL'

In [11]:
US_Men_TOTAL = US_Men_final[0]+US_Men_final[1]
US_Men_TOTAL

568.44

Fetching the top two ranked Japanese men's skaters and storing it into a dataframe 'Japan_Men_df'

In [12]:
men_df = df_men_update[df_men_update.apply(lambda x: x["Nat"] == 'ðŸ‡¯ðŸ‡µ',axis=1)]
Japan_Men = men_df.nlargest(2,'MeanEventTotal') 
Japan_Men_df = pd.DataFrame(Japan_Men)
Japan_Men_df

,Nat,Skater,JGP,CS,GP,Ch,WD,MeanEventTotal,nmean,MeanEventBV,...,MeanSS,nSS,MeanTR,nTR,MeanPE,nPE,MeanCO,nCO,MeanIN,nIN
1,ðŸ‡¯ðŸ‡µ,Yuma Kagiyama,0,0,2,0,0,282.22,2,125.28,...,9.04,4,8.66,4,8.81,4,8.97,4,8.88,4
2,ðŸ‡¯ðŸ‡µ,Shoma Uno,0,0,2,0,0,280.42,2,125.03,...,9.16,4,8.78,4,9.07,4,9.05,4,9.00,4

Setting the index value of dataframe 'Japan_Men_df', then fetching the 'MeanEventTotal' score and storing it in 'Japan_Men_Final'

In [13]:
Japan_Men_df.set_index('Skater',inplace=True)
Japan_Men_Final = Japan_Men_df['MeanEventTotal']
Japan_Men_Final

Skater
Yuma Kagiyama    282.22
Shoma Uno        280.42
Name: MeanEventTotal, dtype: float64

Calculating probability distribution for the the two Japanese Men skaters and storing the values in 'Japan_Men_Dist' variable

In [14]:
Japan_Men_Dist = ProbDist(YK = Japan_Men_Final[0], SU = Japan_Men_Final[1])
Japan_Men_Dist

{'YK': 0.5015996018768661, 'SU': 0.49840039812313375}

Final scores of the top two Japanese skaters from the event are added and stored in 'JAPAN_MEN_TOTAL'

In [15]:
JAPAN_MEN_TOTAL = Japan_Men_Final[0]+Japan_Men_Final[1]
JAPAN_MEN_TOTAL

562.6400000000001

Fetching the top two ranked Chinese men's skaters and storing it into a dataframe 'China_Men_df'

In [16]:
men_df = df_men_update[df_men_update.apply(lambda x: x["Nat"] == 'ðŸ‡¨ðŸ‡³',axis=1)]
China_Men = men_df.nlargest(2,'MeanEventTotal') 
China_Men_df = pd.DataFrame(China_Men)
China_Men_df

,Nat,Skater,JGP,CS,GP,Ch,WD,MeanEventTotal,nmean,MeanEventBV,...,MeanSS,nSS,MeanTR,nTR,MeanPE,nPE,MeanCO,nCO,MeanIN,nIN
19,ðŸ‡¨ðŸ‡³,Boyang Jin,0,0,1,0,0,242.27,1,125.50,...,8.30,2,7.74,2,8.08,2,8.07,2,8.10,2
69,ðŸ‡¨ðŸ‡³,Yudong Chen,0,0,1,0,0,200.96,1,108.43,...,7.27,2,6.77,2,6.86,2,7.11,2,7.04,2

Setting the index value of dataframe 'China_Men_df', then fetching the 'MeanEventTotal' score and storing it in 'China_Men_Final'

In [17]:
China_Men_df.set_index('Skater',inplace=True)
China_Men_Final = China_Men_df['MeanEventTotal']
China_Men_Final

Skater
Boyang Jin     242.27
Yudong Chen    200.96
Name: MeanEventTotal, dtype: float64

Calculating probability distribution for the the two Chinese Men skaters and storing the values in 'China_Men_Dist' variable

In [18]:
China_Men_Dist = ProbDist(BJ = China_Men_Final[0], YC = China_Men_Final[1])
China_Men_Dist

{'BJ': 0.5466010874715159, 'YC': 0.4533989125284841}

Final scores of the top two Chinese skaters from the event are added and stored in 'CHINA_MEN_TOTAL'

In [19]:
CHINA_MEN_TOTAL = China_Men_Final[0]+China_Men_Final[1]
CHINA_MEN_TOTAL

443.23

Fetching the top two ranked Italian men's skaters and storing it into a dataframe 'Italy_Men_df'

In [20]:
men_df = df_men_update[df_men_update.apply(lambda x: x["Nat"] == 'ðŸ‡®ðŸ‡¹',axis=1)]
Italy_Men = men_df.nlargest(2,'MeanEventTotal') 
Italy_Men_df = pd.DataFrame(Italy_Men)
Italy_Men_df

,Nat,Skater,JGP,CS,GP,Ch,WD,MeanEventTotal,nmean,MeanEventBV,...,MeanSS,nSS,MeanTR,nTR,MeanPE,nPE,MeanCO,nCO,MeanIN,nIN
12,ðŸ‡®ðŸ‡¹,Daniel Grassl,0,2,2,1,0,251.13,5,131.98,...,7.88,10,7.69,10,7.90,10,7.97,10,7.99,10
15,ðŸ‡®ðŸ‡¹,Matteo Rizzo,0,1,2,0,0,248.35,3,110.61,...,8.18,6,7.96,6,8.24,6,8.32,6,8.34,6

Setting the index value of dataframe 'Italy_Men_df', then fetching the 'MeanEventTotal' score and storing it in 'Italy_Men_Final'

In [21]:
Italy_Men_df.set_index('Skater',inplace=True)
Italy_Men_Final = Italy_Men_df['MeanEventTotal']
Italy_Men_Final

Skater
Daniel Grassl    251.13
Matteo Rizzo     248.35
Name: MeanEventTotal, dtype: float64

Calculating probability distribution for the the two Italian Men skaters and storing the values in 'Italy_Men_Dk' variable

In [22]:
Italy_Men_Dist = ProbDist(DG = Italy_Men_Final[0], MR = Italy_Men_Final[1])
Italy_Men_Dist

{'DG': 0.5027828942099783, 'MR': 0.4972171057900216}

Final scores of the top two Italy menâ€™s skaters from the event are added and stored in 'ITALY_MEN_TOTAL'

In [23]:
ITALY_MEN_TOTAL = Italy_Men_Final[0]+Italy_Men_Final[1]
ITALY_MEN_TOTAL

499.48

Fetching the top two ranked Canada men's skaters and storing it into a dataframe 'Canada_Men_df'

In [24]:
men_df = df_men_update[df_men_update.apply(lambda x: x["Nat"] == 'ðŸ‡¨ðŸ‡¦',axis=1)]
Canada_Men = men_df.nlargest(2,'MeanEventTotal') 
Canada_Men_df = pd.DataFrame(Canada_Men)
Canada_Men_df

,Nat,Skater,JGP,CS,GP,Ch,WD,MeanEventTotal,nmean,MeanEventBV,...,MeanSS,nSS,MeanTR,nTR,MeanPE,nPE,MeanCO,nCO,MeanIN,nIN
16,ðŸ‡¨ðŸ‡¦,Keegan Messing,0,2,2,0,0,247.26,4,106.51,...,8.61,8,8.34,8,8.50,8,8.56,8,8.58,8
32,ðŸ‡¨ðŸ‡¦,Roman Sadovsky,0,1,2,0,0,226.38,3,108.13,...,8.03,6,7.80,6,7.86,6,8.05,6,8.15,6

Setting the index value of dataframe 'Canada_Men_df', then fetching the 'MeanEventTotal' score and storing it in 'Canada_Men_Final'

In [25]:
Canada_Men_df.set_index('Skater',inplace=True)
Canada_Men_Final = Canada_Men_df['MeanEventTotal']
Canada_Men_Final

Skater
Keegan Messing    247.26
Roman Sadovsky    226.38
Name: MeanEventTotal, dtype: float64

Calculating probability distribution for the the two Canada Men skaters and storing the values in 'Canada_Men_Dist' variable

In [26]:
Canada_Men_Dist = ProbDist(KM = Canada_Men_Final[0], RS = Canada_Men_Final[1])
Canada_Men_Dist

{'KM': 0.5220420572586775, 'RS': 0.47795794274132253}

Final scores of the top two Canada menâ€™s skaters from the event are added and stored in 'CANADA_MEN_TOTAL'

In [27]:
CANADA_MEN_TOTAL = Canada_Men_Final[0]+Canada_Men_Final[1]
CANADA_MEN_TOTAL

473.64

Fetching the top two ranked russian men's skaters and storing it into a dataframe 'Russia_MEN_df'

In [28]:
men_df = df_men_update[df_men_update.apply(lambda x: x["Nat"] == 'ðŸ‡·ðŸ‡º',axis=1)]
Russia_Men = men_df.nlargest(2,'MeanEventTotal') 
Russia_Men_df = pd.DataFrame(Russia_Men)
Russia_Men_df

,Nat,Skater,JGP,CS,GP,Ch,WD,MeanEventTotal,nmean,MeanEventBV,...,MeanSS,nSS,MeanTR,nTR,MeanPE,nPE,MeanCO,nCO,MeanIN,nIN
4,ðŸ‡·ðŸ‡º,Mikhail Kolyada,0,1,2,0,0,265.06,3,123.43,...,8.86,6,8.63,6,8.66,6,8.92,6,8.77,6
10,ðŸ‡·ðŸ‡º,Mark Kondratiuk,0,2,1,1,0,252.40,4,122.74,...,8.13,8,7.84,8,8.14,8,8.16,8,8.25,8

Setting the index value of dataframe 'Russia_Men_df', then fetching the 'MeanEventTotal' score and storing it in 'Russia_Men_Final'

In [29]:
Russia_Men_df.set_index('Skater',inplace=True)
Russia_Men_Final=Russia_Men_df['MeanEventTotal']
Russia_Men_Final

Skater
Mikhail Kolyada    265.06
Mark Kondratiuk    252.40
Name: MeanEventTotal, dtype: float64

Calculating probability distribution for the the two Russian Men skaters and storing the values in 'Russia_Men_Dist' variable

In [30]:
Russia_Men_Dist = ProbDist(MiK = Russia_Men_Final[0], MaK = Russia_Men_Final[1])
Russia_Men_Dist

{'MiK': 0.5122328295906929, 'MaK': 0.48776717040930695}

Final scores of the top two Russia menâ€™s skaters from the event are added and stored in 'RUSSIA_MEN_TOTAL'

In [31]:
RUSSIA_MEN_TOTAL = Russia_Men_Final[0]+Russia_Men_Final[1]
RUSSIA_MEN_TOTAL

517.46

The probability distribution of men's skaters from teams US,Japan,China,Italy,Canada and Russia are calculated and stored in 'MEN_PROB'. 

US Men's team have the most chances(18.5%) of winning the event, followed by Japan Men's team(18.35%), Russian Men's team(16.88%), Italian Men's team(16.29%), Canadian Men's team(15.45%). Chinese Men's team have the least chances(14.46%) of winning the event.

In [32]:
MEN_PROB=ProbDist(USM=US_MEN_TOTAL,JAPANM=JAPAN_MEN_TOTAL, CHINAM=CHINA_MEN_TOTAL,ITALYM=ITALY_MEN_TOTAL,CANADAM=CANADA_MEN_TOTAL,RUSSIAM=RUSSIA_MEN_TOTAL)
MEN_PROB

{'USM': 0.1854683202333526,
 'JAPANM': 0.18357591952729138,
 'CHINAM': 0.1446153043012963,
 'ITALYM': 0.1629683283902522,
 'CANADAM': 0.1545373569687656,
 'RUSSIAM': 0.168834770579042}

Fetching the top two ranked US women's skaters and storing it into a dataframe 'US_Women_df'

In [33]:
women_df = df_women_update[df_women_update.apply(lambda x: x["Nat"] == 'ðŸ‡ºðŸ‡¸',axis=1)]
US_Women = women_df.nlargest(2,'MeanEventTotal')
US_Women_df = pd.DataFrame(US_Women)
US_Women_df

,Nat,Skater,JGP,CS,GP,Ch,WD,MeanEventTotal,nmean,MeanEventBV,...,MeanSS,nSS,MeanTR,NTR,MeanPE,nPE,MeanCO,nCO,MeanIN,nIN
13,ðŸ‡ºðŸ‡¸,Alysa Liu,0,2,2,0,0,209.02,4,97.68,...,8.30,8,8.16,8,8.4,8,8.41,8,8.42,8
15,ðŸ‡ºðŸ‡¸,Isabeau Levito,2,0,0,0,0,205.33,2,92.94,...,7.62,4,7.59,4,7.8,4,7.72,4,7.92,4

Setting the index value of dataframe 'US_Women_df', then fetching the 'MeanEventTotal' score and storing it in 'US_Women_Final'

In [34]:
US_Women_df.set_index('Skater',inplace=True)
US_Women_final = US_Women_df['MeanEventTotal']
US_Women_final

Skater
Alysa Liu         209.02
Isabeau Levito    205.33
Name: MeanEventTotal, dtype: float64

Calculating probability distribution for the the two US women skaters and storing the values in 'US_Women_Dist' variable

In [35]:
US_Women_Dist = ProbDist(AL = US_Women_final[0], IL = US_Women_final[1])
US_Women_Dist

{'AL': 0.504452757330759, 'IL': 0.495547242669241}

Final scores of the top two US womenâ€™s skaters from the event are added and stored in 'US_WOMEN_TOTAL'

In [36]:
US_WOMEN_TOTAL=US_Women_final[0]+US_Women_final[1]
US_WOMEN_TOTAL

414.35

Fetching the top two ranked Japan women's skaters and storing it into a dataframe 'Japan_Women_df'

In [37]:
women_df = df_women_update[df_women_update.apply(lambda x: x["Nat"] == 'ðŸ‡¯ðŸ‡µ',axis=1)]
Japan_Women = women_df.nlargest(2,'MeanEventTotal') 
Japan_Women_df = pd.DataFrame(Japan_Women)
Japan_Women_df

,Nat,Skater,JGP,CS,GP,Ch,WD,MeanEventTotal,nmean,MeanEventBV,...,MeanSS,nSS,MeanTR,NTR,MeanPE,nPE,MeanCO,nCO,MeanIN,nIN
5,ðŸ‡¯ðŸ‡µ,Kaori Sakamoto,0,0,2,0,0,219.64,2,92.44,...,9.00,4,8.61,4,8.93,4,8.84,4,8.84,4
9,ðŸ‡¯ðŸ‡µ,Mai Mihara,0,0,2,1,0,214.33,3,95.13,...,8.19,6,8.00,6,8.33,6,8.24,6,8.24,6

Setting the index value of dataframe 'Japan_Women_df', then fetching the 'MeanEventTotal' score and storing it in 'Japan_Women_Final'

In [38]:
Japan_Women_df.set_index('Skater',inplace=True)
Japan_Women_final = Japan_Women_df['MeanEventTotal']
Japan_Women_final

Skater
Kaori Sakamoto    219.64
Mai Mihara        214.33
Name: MeanEventTotal, dtype: float64

Calculating probability distribution for the the two Japan women skaters and storing the values in 'Japan_Women_Dist' variable

In [39]:
Japan_Women_Dist = ProbDist(KS = Japan_Women_final[0], MM = Japan_Women_final[1])
Japan_Women_Dist

{'KS': 0.5061179344194299, 'MM': 0.4938820655805701}

Final scores of the top two Japan womenâ€™s skaters from the event are added and stored in 'JAPAN_WOMEN_TOTAL'

In [40]:
JAPAN_WOMEN_TOTAL = Japan_Women_final[0]+Japan_Women_final[1]
JAPAN_WOMEN_TOTAL

433.97

Fetching the top two ranked China women's skaters and storing it into a dataframe 'China_Women_df'

__Since there is only one skater present in the table, we will manually add the other skaters total.__

In [41]:
women_df = df_women_update[df_women_update.apply(lambda x: x["Nat"] == 'ðŸ‡¨ðŸ‡³',axis=1)]
China_Women = women_df.nlargest(2,'MeanEventTotal') 
China_Women_df = pd.DataFrame(China_Women)
China_Women_df

,Nat,Skater,JGP,CS,GP,Ch,WD,MeanEventTotal,nmean,MeanEventBV,...,MeanSS,nSS,MeanTR,NTR,MeanPE,nPE,MeanCO,nCO,MeanIN,nIN
54,ðŸ‡¨ðŸ‡³,Yi Zhu,0,0,1,0,0,171.25,1,79.86,...,7.23,2,6.8,2,7.09,2,7.1,2,7.02,2

Setting the index value of dataframe 'China_Women_df', then fetching the 'MeanEventTotal' score and storing it in 'China_Women_Final'

In [42]:
China_Women_df.set_index('Skater',inplace=True)
China_Women_final=China_Women_df['MeanEventTotal']
China_Women_final

Skater
Yi Zhu    171.25
Name: MeanEventTotal, dtype: float64

In [43]:
China_Women_final['Shan Ashley Lin']=157.85
China_Women_final

<ipython-input-43-39bc9b1f9b88>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ChinaWfinal['Shan Ashley Lin']=157.85

Skater
Yi Zhu             171.25
Shan Ashley Lin    157.85
Name: MeanEventTotal, dtype: float64

Calculating probability distribution for the the two China women skaters and storing the values in 'China_Women_Dist' variable

In [44]:
China_Women_Dist = ProbDist(YZ = China_Women_final[0], SAL = China_Women_final[1])
China_Women_Dist

{'YZ': 0.5203585536311152, 'SAL': 0.4796414463688848}

Final scores of the top two China womenâ€™s skaters from the event are added and stored in 'CHINA_WOMEN_TOTAL'

In [45]:
CHINA_WOMEN_TOTAL=China_Women_final[0]+China_Women_final[1]
CHINA_WOMEN_TOTAL

329.1

Fetching the top two ranked Italy women's skaters and storing it into a dataframe 'Italy_Women_df'

In [46]:
women_df = df_women_update[df_women_update.apply(lambda x: x["Nat"] == 'ðŸ‡®ðŸ‡¹',axis=1)]
Italy_Women = women_df.nlargest(2,'MeanEventTotal') 
Italy_Women_df = pd.DataFrame(Italy_Women)
Italy_Women_df

,Nat,Skater,JGP,CS,GP,Ch,WD,MeanEventTotal,nmean,MeanEventBV,...,MeanSS,nSS,MeanTR,NTR,MeanPE,nPE,MeanCO,nCO,MeanIN,nIN
69,ðŸ‡®ðŸ‡¹,Lara Naki Gutmann,0,2,1,1,0,163.54,4,78.58,...,6.86,8,6.7,8,6.76,8,6.98,8,6.86,8
99,ðŸ‡®ðŸ‡¹,Lucrezia Beccari,0,0,1,0,0,148.29,1,74.46,...,6.80,2,6.7,2,6.60,2,6.86,2,6.82,2

Setting the index value of dataframe 'Italy_Women_df', then fetching the 'MeanEventTotal' score and storing it in 'Italy_Women_Final'

In [47]:
Italy_Women_df.set_index('Skater',inplace=True)
Italy_Women_final=Italy_Women_df['MeanEventTotal']
Italy_Women_final

Skater
Lara Naki Gutmann    163.54
Lucrezia Beccari     148.29
Name: MeanEventTotal, dtype: float64

Calculating probability distribution for the the two Italy women skaters and storing the values in 'Italy_Women_Dist' variable

In [48]:
Italy_Women_Dist = ProbDist(LNG = Italy_Women_final[0], LB = Italy_Women_final[1])
Italy_Women_Dist

{'LNG': 0.5244524260013469, 'LB': 0.4755475739986531}

Final scores of the top two Italy womenâ€™s skaters from the event are added and stored in 'ITALY_WOMEN_TOTAL'

In [49]:
ITALY_WOMEN_TOTAL = Italy_Women_final[0]+Italy_Women_final[1]
ITALY_WOMEN_TOTAL

311.83

Fetching the top two ranked Canada women's skaters and storing it into a dataframe 'Canada_Women_df'

In [50]:
women_df = df_women_update[df_women_update.apply(lambda x: x["Nat"] == 'ðŸ‡¨ðŸ‡¦',axis=1)]
Canada_Women = women_df.nlargest(2,'MeanEventTotal') 
Canada_Women_df = pd.DataFrame(Canada_Women)
Canada_Women_df

,Nat,Skater,JGP,CS,GP,Ch,WD,MeanEventTotal,nmean,MeanEventBV,...,MeanSS,nSS,MeanTR,NTR,MeanPE,nPE,MeanCO,nCO,MeanIN,nIN
36,ðŸ‡¨ðŸ‡¦,Madeline Schizas,0,1,2,0,0,187.81,3,88.31,...,7.47,6,7.27,6,7.54,6,7.56,6,7.53,6
45,ðŸ‡¨ðŸ‡¦,Kaiya Ruiter,2,0,0,0,0,178.76,2,89.95,...,6.90,4,6.68,4,6.99,4,6.99,4,7.04,4

Setting the index value of dataframe 'Canada_Women_df', then fetching the 'MeanEventTotal' score and storing it in 'Canada_Women_Final'

In [51]:
Canada_Women_df.set_index('Skater',inplace=True)
Canada_Women_final = Canada_Women_df['MeanEventTotal']
Canada_Women_final

Skater
Madeline Schizas    187.81
Kaiya Ruiter        178.76
Name: MeanEventTotal, dtype: float64

Calculating probability distribution for the the two Canada women skaters and storing the values in 'Canada_Women_Dist' variable

In [52]:
Canada_Women_Dist = ProbDist(MS = Canada_Women_final[0], KR = Canada_Women_final[1])
Canada_Women_Dist

{'MS': 0.5123441634612762, 'KR': 0.48765583653872385}

Final scores of the top two Canada womenâ€™s skaters from the event are added and stored in 'CANADA_WOMEN_TOTAL'

In [53]:
CANADA_WOMEN_TOTAL = Canada_Women_final[0] + Canada_Women_final[1]
CANADA_WOMEN_TOTAL

366.57

Fetching the top two ranked Russia women's skaters and storing it into a dataframe 'Russia_Women_df'

In [54]:
women_df = df_women_update[df_women_update.apply(lambda x: x["Nat"] == 'ðŸ‡·ðŸ‡º',axis=1)]
Russia_Women = women_df.nlargest(2,'MeanEventTotal') 
Russia_Women_df = pd.DataFrame(Russia_Women)
Russia_Women_df

,Nat,Skater,JGP,CS,GP,Ch,WD,MeanEventTotal,nmean,MeanEventBV,...,MeanSS,nSS,MeanTR,NTR,MeanPE,nPE,MeanCO,nCO,MeanIN,nIN
0,ðŸ‡·ðŸ‡º,Kamila Valieva,0,1,2,1,0,261.52,4,119.54,...,9.28,8,9.09,8,9.32,8,9.34,8,9.36,8
1,ðŸ‡·ðŸ‡º,Anna Shcherbakova,0,0,2,1,0,234.63,3,102.99,...,8.98,6,8.89,6,9.06,6,9.13,6,9.14,6

Setting the index value of dataframe 'Russia_Women_df', then fetching the 'MeanEventTotal' score and storing it in 'Russia_Women_Final'

In [55]:
Russia_Women_df.set_index('Skater',inplace=True)
Russia_Women_final = Russia_Women_df['MeanEventTotal']
Russia_Women_final

Skater
Kamila Valieva       261.52
Anna Shcherbakova    234.63
Name: MeanEventTotal, dtype: float64

Calculating probability distribution for the the two Russia women skaters and storing the values in 'Russia_Women_Dist' variable

In [56]:
Russia_Women_Dist = ProbDist(KV = Russia_Women_final[0], AS = Russia_Women_final[1])
Russia_Women_Dist

{'KV': 0.5270986596795324, 'AS': 0.4729013403204676}

Final scores of the top two Russia womenâ€™s skaters from the event are added and stored in 'RUSSIA_WOMEN_TOTAL'

In [57]:
RUSSIA_WOMEN_TOTAL = Russia_Women_final[0]+Russia_Women_final[1]
RUSSIA_WOMEN_TOTAL

496.15

The probability distribution of women's skaters from teams US,Japan,China,Italy,Canada and Russia are calculated and stored in 'WOMEN_PROB'. 

Russia women's team have the most chances(21.09%) of winning the event, followed by Japan women's team(18.45%), US women's team(17.61%), Canada women's team(15.58%), China women's team(13.99%). Italy women's team have the least chances(13.25%) of winning the event.

In [58]:
WOMEN_PROB=ProbDist(USW=US_WOMEN_TOTAL,JAPANW=JAPAN_WOMEN_TOTAL, CHINAW=CHINA_WOMEN_TOTAL,ITALYW=ITALY_WOMEN_TOTAL,CANADAW=CANADA_WOMEN_TOTAL,RUSSIAW=RUSSIA_WOMEN_TOTAL)
WOMEN_PROB

{'USW': 0.1761714647720847,
 'JAPANW': 0.18451340790911452,
 'CHINAW': 0.13992525414864987,
 'ITALYW': 0.13258247341590243,
 'CANADAW': 0.15585657980331383,
 'RUSSIAW': 0.21095081995093476}

In [59]:
def joint(A, B, sep=''):
    """The joint distribution of two independent probability distributions. 
    Result is all entries of the form {a+sep+b: P(a)*P(b)}"""
    return ProbDist({a + sep + b: A[a] * B[b]   #a+b as concatenation of keys and probability as product of probability
                    for a in A
                    for b in B})
MM = joint(MEN_PROB, WOMEN_PROB, ' ')
MM

{'USM USW': 0.032674225644327794,
 'USM JAPANW': 0.03422139182543486,
 'USM CHINAW': 0.025951701845175038,
 'USM ITALYW': 0.024589848636830544,
 'USM CANADAW': 0.028906458053436078,
 'USM RUSSIAW': 0.039124694228148266,
 'JAPANM USW': 0.03234083864000526,
 'JAPANM JAPANW': 0.03387221852202989,
 'JAPANM CHINAW': 0.025686907195428335,
 'JAPANM ITALYW': 0.024338949470526946,
 'JAPANM CANADAW': 0.028611514951772,
 'JAPANM RUSSIAW': 0.03872549074752893,
 'CHINAM USW': 0.025477089987220123,
 'CHINAM JAPANW': 0.0266834626324458,
 'CHINAM CHINAW': 0.02023533320814322,
 'CHINAM ITALYW': 0.019173454738059252,
 'CHINAM CANADAW': 0.022539246715615496,
 'CHINAM RUSSIAW': 0.030506717019812387,
 'ITALYM USW': 0.028710369123968838,
 'ITALYM JAPANW': 0.030069841652537125,
 'ITALYM CHINAW': 0.022803384768186667,
 'ITALYM ITALYW': 0.021606744066434664,
 'ITALYM CANADAW': 0.02539968627916799,
 'ITALYM RUSSIAW': 0.034378302499956895,
 'CANADAM USW': 0.027225072539193963,
 'CANADAM JAPANW': 0.028514214383574283,
 'CANADAM CHINAW': 0.02162367894931515,
 'CANADAM ITALYW': 0.020488945022075187,
 'CANADAM CANADAW': 0.024085663908995608,
 'CANADAM RUSSIAW': 0.0325997821656114,
 'RUSSIAM USW': 0.029743868837368695,
 'RUSSIAM JAPANW': 0.03115227889309254,
 'RUSSIAM CHINAW': 0.023624248182401438,
 'RUSSIAM ITALYW': 0.02238453148197582,
 'RUSSIAM CANADAW': 0.026314009894326633,
 'RUSSIAM RUSSIAW': 0.03561583328987686}

__1) What is the probability for the US to win both the men's and the women's event?__

In [60]:
USmen = MEN_PROB['USM']
USwomen = WOMEN_PROB['USW']
US_win_both = USmen*USwomen
US_win_both

0.0326742256443278

The probability of US to win both the events is 3.26%

__1 b) What is the probability for the US to win at least one of these two events?__

In [61]:
US_win_atleastone = 1-(1-USmen) * (1-USwomen)
US_win_atleastone

0.3289655593611095

The probability of US to win atleast one of the two events is 32.89%

__Probability for the China to win both the men's and the women's event?__

In [62]:
Chinamen = MEN_PROB['CHINAM']
Chinawomen = WOMEN_PROB['CHINAW']
China_win_both = Chinamen*Chinawomen
China_win_both

0.020235333208143223

__Probability for the China to win at least one of these two events__

In [63]:
China_win_atleastone = 1-(1-Chinamen) * (1-Chinawomen)
China_win_atleastone

0.264305225241803

__Probability for the Japan to win both the men's and the women's event?__

In [64]:
Japanmen = MEN_PROB['JAPANM']
Japanwomen = WOMEN_PROB['JAPANW']
Japan_win_both = Japanmen*Japanwomen
Japan_win_both

0.033872218522029894

__Probability for Japan to win at least one of these two events__

In [65]:
Japan_win_atleastone= 1-(1-Japanmen) * (1-Japanwomen)
Japan_win_atleastone

0.33421710891437595

__Probability for Italy to win both the men's and the women's event?__

In [66]:
Italymen = MEN_PROB['ITALYM']
Italywomen = WOMEN_PROB['ITALYW']
Italy_win_both = Italymen*Italywomen
Italy_win_both

0.021606744066434667

__Probability for Italy to win at least one of these two events__

In [67]:
Italy_win_atleastone = 1-(1-Italymen) * (1-Italywomen)
Italy_win_atleastone

0.27394405773971997

__Probability for Russia to win both the men's and the women's event?__

In [68]:
Russiamen = MEN_PROB['RUSSIAM']
Russiawomen = WOMEN_PROB['RUSSIAW']
Russia_win_both = Russiamen*Russiawomen
Russia_win_both

0.035615833289876865

__Probability for Russia to win at least one of these two events__

In [69]:
Russia_win_atleastone = 1-(1-Russiamen) * (1-Russiawomen)
Russia_win_atleastone

0.3441697572401

__Probability for Canada to win both the men's and the women's event?__

In [70]:
Canadamen = MEN_PROB['CANADAM']
Canadawomen = WOMEN_PROB['CANADAW']
Canada_win_both = Canadamen*Canadawomen
Canada_win_both

0.024085663908995615

__Probability for Canada to win at least one of these two events__

In [71]:
Canada_win_atleastone = 1-(1-Canadamen) * (1-Canadawomen)
Canada_win_atleastone

0.2863082728630838

### Question 2 (30 points) If the US wins the men's event, what is the probability that the US wins the women's event? If the US wins at least one of these two events, what is the probability the US wins both events (not necessarily the first one)? How about Canada, China, and the ROC? Which nations are more likely to win both events if they win one of them?

__If the US wins the men's event, what is the probability that the US wins the women's event?__

In [72]:
US_women_winning = US_win_both/USmen
US_women_winning

0.1761714647720847

__If the US wins at least one of these two events, what is the probability the US wins both events (not necessarily the first one)?__

In [73]:
USwin_not_neccessarily_first = US_win_both/US_win_atleastone
USwin_not_neccessarily_first

0.09932415328761181

__How about Canada, China, and the ROC? Which nations are more likely to win both events if they win one of them?__

__If China wins the men's event, what is the probability that the China wins the women's event?__

In [74]:
China_women_winning = China_win_both/Chinamen
China_women_winning

0.13992525414864987

__If the China wins at least one of these two events, what is the probability the China wins both events (not necessarily the first one)?__

In [75]:
Chinawin_not_neccessarily_first = China_win_both/China_win_atleastone
Chinawin_not_neccessarily_first

0.07656047355715602

__If Japan wins the men's event, what is the probability that the Japan wins the women's event?__

In [76]:
Japan_women_winning = Japan_win_both/Japanmen
Japan_women_winning

0.1845134079091145

__If the Japan wins at least one of these two events, what is the probability the Japan wins both events (not necessarily the first one)?__

In [77]:
Japanwin_not_neccessarily_first = Japan_win_both/Japan_win_atleastone
Japanwin_not_neccessarily_first

0.1013479490384429

__If Russia wins the men's event, what is the probability that the Russia wins the women's event?__

In [78]:
Russia_women_winning = Russia_win_both/Russiamen
Russia_women_winning

0.21095081995093476

__If the Russia wins at least one of these two events, what is the probability the Russia wins both events (not necessarily the first one)?__

In [79]:
Russiawin_not_neccessarily_first = Russia_win_both/Russia_win_atleastone
Russiawin_not_neccessarily_first

0.10348333210762187

__If Canada wins the men's event, what is the probability that the Canada wins the women's event?__

In [80]:
Canada_women_winning = Canada_win_both/Canadamen
Canada_women_winning

0.15585657980331383

__If the Canada wins at least one of these two events, what is the probability the Canada wins both events (not necessarily the first one)?__

In [81]:
Canadawin_not_neccessarily_first = Canada_win_both/Canada_win_atleastone
Canadawin_not_neccessarily_first

0.08412493173228593

__If Italy wins the men's event, what is the probability that the Italy wins the women's event?__

In [82]:
Italy_women_winning = Italy_win_both/Italymen
Italy_women_winning

0.13258247341590243

__If the Italy wins at least one of these two events, what is the probability the Italy wins both events (not necessarily the first one)?__

In [85]:
Italywin_not_neccessarily_first = Italy_win_both/Italy_win_atleastone
Italywin_not_neccessarily_first

0.07887283354386058

### Question 3 (50 points) The US wins at least one of these two events the same day that the US team of the same sex wins the hockey event gold medal. What is the probability the US wins both events assuming that the teams in contention to win the gold medal for the hockey event for both men and women are USA, China, Russia, Canada, and Japan and that men and women teams have the same probability to win hockey gold?

Lets Assume that the probability of US men hockey team winning gold medal the same day as skating as 1/5. Same goes
for women team with 1/5 since there are 5 teams given.

According to Bayes theorm
P(A|B)= P(B|A) * P(A) / P(B)

A: US winning both the events

B: US team of same sex wins hockey and atleast one in skating

In [104]:
PA = US_win_both
print("Probability of A: ",PA)

Probability of A:  0.0326742256443278

In [105]:
#P(B|A)
PBPA = US_win_both * US_win_atleastone /(US_win_both * US_win_atleastone + USwin_not_neccessarily_first * 0.2) #0.2 is assumed value
print("Probability of P(B|A) :", PBPA)

Probability of P(B|A) : 0.35110934511744396

In [106]:
PB = US_women_winning * US_win_atleastone
print("Probability of B: ",PB)

Probability of B:  0.05795434445221484

In [107]:
#Final answer
Required_value = PBPA*PA/PB
print("Final answer :",Required_value)

Final answer : 0.19795282090816738